@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Jetbrains Mono", monospace;

    --color-laranja: var(--color-orange-600);
    --color-roxo: var(--color-purple-600);

    --shadow-bear: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
      0 4px 6px -4px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(255, 255, 255, 0.05);
    --shadow-bear-inner: inset var(--shadow-bear);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
    @apply bg-zinc-950;
}